.strollTypeItem{
    margin: 0 1%;
    font-weight: bold;
}
.strollItemLayer{
    position: relative;
    border-radius: 8px;
}
.strollItemTitle {
    font-size: 9.5PX;
    padding: 4PX 0 2PX;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}
.strollPriceBar {
    margin: 5px 0;
    text-align: left;
    width: 100%;
    font-size: 9PX;
    height: 15PX;
    overflow: hidden;
}
.strollItemImg {
    width: 100%;
    border-radius: 8px;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}
img {
    vertical-align: middle;
}
 .tagNew {
    font-weight: normal;
    background-color: #79da87;
    max-width: 94%;
    width: 35px;
    overflow: hidden;
    display: inline-block;
    font-size: 12PX;
    color: #fff;
    line-height: 14PX;
    padding: 3PX;
    position: absolute;
    left: 0;
    top: 8PX;
}
.strollItemTitle a {
    color: #333;
    text-decoration: none;
    font-size: 13.5PX;
    
}
.strollPriceBar .price {
    font-size: 20PX;
    line-height: 15PX;
    display: inline-block;
    color: #ff475d;
    font-weight: 400;
    overflow: hidden;
    text-align: left;
    width: auto;
    margin-left: 5px;
}
.strollPriceBar .comment {
    font-size: 14PX;
    line-height: 15PX;
    width: auto;
    max-width: none;
    overflow: hidden;
    float: right;
    display: inline-block;
    text-align: right;
    color: #999;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    margin-right: 5px;
}
em, i {
    font-style: normal;
}


